
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag :styles %>
<%= stylesheet_link_tag :business_detail %>


    <div class="container">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            
            <div class="col-lg-6">
                <%= image_tag((@business['img_url'] == '' ? @business.category + '.jpg' : @business.img_url), class: "card-img-top", style: 'object-fit:cover; object-position: center;width:100%; height:225px;') %>
            </div>

            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><%= @business.name %></h4>
                            <p class="mb-0 text-white-50"><%= @business.category %></p>
                            <p class="mb-0 text-white-50"><%= @business.address %></p>
                            <p class="mb-0 text-white-50">Rating: <%= @rating %></p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row info">
                <div class="col-lg-8">
                    <h4>Location</h4>
                    <div id="map" class="mb-4"></div>
                     <% if @features.length() != 0 %>
                    <h4>Special features</h4>
                     <ul>
                        <% @features.each do |f| %>
                            <li style="text-transform: capitalize;"><%= f %></li>
                        <% end %>
                        </ul>
                    <% end%>
                </div>

                
                <div id="working-hours" class="col-lg-4">
                <% if @working_hours %>
             
                    <h4>Working hours</h4>
                    <table>
                    <% @working_hours.each do |day| %>
                        <tr>
                            <td><%= day["day"]%> </td>
                            <td><%= day["start"]%> - <%= day["end"]%></td>
                        </tr>
                    <% end %>
                        </table>
                </div>
                <% end %>
            </div>

            <div class="row ratings">
            
            <h3>Reviews</h3>
            <p class="font-weight-light mt-2">Leave your review here</p>
                <div class="col-lg-12 mb-4">
                    <% if user_signed_in? %>
                    <%= form_with model: Review.new, url: new_reviews_path, :html => { :id => "review-form" } do |form| %>
                    <div class="txt-center">
                            <div class="rating">

                                <%= form.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
                                <%= b.radio_button :class => 'radio-btn hide',  required: true  %>
                                <%= b.label {'☆'} %>
                                <% end %>

                                <div class="clear"></div>
                            </div>
                        </div>
                        <%= form.text_field :title, placeholder: "Title", required: true %>
                        <%= form.text_area :comment, placeholder: "Your review here", required: true %>
                        <%= form.hidden_field :user_id, :value => current_user.id %>
                        <%= form.hidden_field :business_id, :value => @business.id %>
                        <%= form.submit "Submit"%>
                    <% end %>
                        
                    <% else %>
                        <%= link_to "Sign in", new_user_session_path %> 
                        or <%= link_to "Sign up", new_user_registration_path %> to leave a review 
                    <% end %>
                </div>

                <div class="col-lg-12">
                        

                        <% if @reviews.any? %>
                            <% @reviews.each do |review| %>

                            <div class="box">  
                                <%= image_tag "user_profile_placeholder.png", class: "img-fluid"%>
                            </div>
                            
                            <div class="review-content">
                            <p>
                                <% if review.user.email.blank? %>
                                    Anonymous</p>
                                <% else %> 
                                    <b><%= review.user.email %></b>
                                <% end %>
                                <p id="review_date"> <%= review.created_at.strftime("%m/%d/%y") %></p>
                                
                                <p> <%= review.title %></p>
                                
                            </div>

                            <div>   
                                <p> Rating: <% (1..review.rating).each do |n| %> 
                                            <span class="fa fa-star checked"></span>
                                            <% end %>
                            </div>

                            <div>   
                                <p> <%= review.comment %></p>
                            </div>

                    <% end %>
                    <% else %>
                        <p>No reviews at the moment.</p>
                    <% end %>
                      <%= will_paginate @reviews, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
                </div>

            </div>
            <input type="hidden" id="latitude" value=<%= @business["latitude"]%>>
            <input type="hidden" id="longitude" value=<%= @business["longitude"]%>>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6PSLv2kH7tsrxGbRwovIVe6jF9Zrw8Ak&callback=initMap&libraries=&v=weekly&" async></script>

    <script> 
        function initMap() {
        // The location of Uluru
        const lat = parseFloat($('#latitude').val())
        const long = parseFloat($('#longitude').val())
        const uluru = { lat: lat, lng: long };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
        }
</script>