<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jarvis</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>

        <!-- Core theme CSS (includes Bootstrap)-->
        <%= stylesheet_link_tag :questions %>
        <%# <link href="stylesheets/styles.css" rel="stylesheet" /> %>
    </head>

    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead questions-masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                <%= form_with model: User.new, url: {action: :answer}, :html => {:id => "questions-form"} do |form| %>
                    <%# <h3 class="h3">Let us get to know you:</h3> %>
                    <% @questions.each do |id, question| %>
                        <div class="<%= id.match?(/zip_code|latitude|longitude/) ? 'text-center questions hide-text' : 'text-center questions v-none' %>">
                          <h2 class="mx-auto my-0 text-uppercase"><%= form.label id, question %></h2>
                           <h4 class="mx-auto mt-2 mb-5 input-fields">
                            <% if 'from_country'.eql? id.to_s %>
                                <%= form.select id, options_for_select(@countries), selected: "Select Country" %> 
                            <% elsif 'work'.eql? id.to_s %>
                                <%= form.radio_button id, 'student' %>
                                <%= form.label id, 'Student', :value => 'Student' %>
                                <%= form.radio_button id, 'professional' %>
                                <%= form.label id, 'Professional', :value => 'Professional' %>
                            <% elsif 'budget'.eql? id.to_s %>
                                <%= form.radio_button id, '1' %>
                                <%= form.label id, '$', :value => '1' %>
                                <%= form.radio_button id, '2' %>
                                <%= form.label id, '$$', :value => '2' %>
                                <%= form.radio_button id, '3' %>
                                <%= form.label id, '$$$', :value => '3' %>
                                <%= form.radio_button id, '4' %>
                                <%= form.label id, '$$$$', :value => '4' %>
                            <% else %>
                                <%= form.text_field id, placeholder: @placeholders[id], required: true %>
                            <% end %>
                            </h4>
                             <!--<% if id == 'budget' %>
                                <h4 class="text-white-50 mx-auto mt-2 mb-5"><%= form.number_field id, placeholder: @placeholders[id], required: true %></h4>
                             <% else %>
                                <h4 class="text-white-50 mx-auto mt-2 mb-5"><%= form.text_field id, placeholder: @placeholders[id], required: true %></h4>
                             <% end %> -->

                            <a class="btn btn-primary next" id="<%= id %>">Next</a>
                        </div>
                    <% end %>
                    <div class="text-center questions v-none">
                      <h2 class="mx-auto my-0 text-uppercase mb-4">
                        <h4 class="mx-auto mt-2 mb-5 input-fields">
                        <%= form.label :create_account, "Create an account?" %>
                        <%= check_box_tag :create_account, true, false %>
                        </h4>
                      </h2>
                    <button type="submit" class="btn btn-primary next" id="create_account_next_btn" >Get Recommendations</button>
                    </div>
                    <!--<h2 class="h2 mx-auto my-0 text-uppercase mb-4 all-set-text v-none">You're all set!</h2>
                    <%= form.submit "Get Recommendations", :class => 'btn btn-primary submit_bt v-none' %> -->
                <% end %>

                </div>
            </div>
        </header>

        <%# <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+1 (555) 902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section> %>
        <%= javascript_include_tag 'questions' %>
        <script>
            if(window.google) {
                initAutoComplete()
            } else {
                var googleMapsScript = document.createElement('script');
                googleMapsScript.setAttribute('src','https://maps.googleapis.com/maps/api/js?key=AIzaSyB6PSLv2kH7tsrxGbRwovIVe6jF9Zrw8Ak&libraries=places&callback=initAutoComplete');   
                document.head.appendChild(googleMapsScript);
            }
            var autocomplete;
            function initAutoComplete() {
                autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('user_address'),
                    {
                        types: ['address'],
                        componentRestrictions: {country : ['US']},
                        fields: ["place_id", "geometry", "name"]
                    }
                )
                autocomplete.addListener('place_changed', (e) => {
                    let place = autocomplete.getPlace()
                    let place_coordinates = [place.geometry.location.lat(), place.geometry.location.lng()] // [Latitude, Longitude]
                    latitude_el = document.getElementById('user_latitude')
                    longitude_el = document.getElementById('user_longitude')
                    latitude_el.value = place_coordinates[0]
                    longitude_el.value = place_coordinates[1]
                    console.log(place_coordinates)
                })
            }
        </script>
    </body>
</html>
